@model HomeViewModel
@{
}


<!-- =======  Section ======= -->
<section class="mt-2">
    <div class="row h-100">
        <div class="col-lg-12">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="manual-tab" data-bs-toggle="tab" data-bs-target="#bordered-manual" type="button" role="tab" aria-controls="manual" aria-selected="true">Manual</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="auto-tab" data-bs-toggle="tab" data-bs-target="#bordered-auto" type="button" role="tab" aria-controls="auto" aria-selected="false">Automatic</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="config-tab" data-bs-toggle="tab" data-bs-target="#bordered-config" type="button" role="tab" aria-controls="config" aria-selected="false">Configuration</button>
                </li>
            </ul>
            <div class="tab-content pt-2" id="borderedTabContent">
                <div class="tab-pane fade show active" id="bordered-manual" role="tabpanel" aria-labelledby="manual-tab">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="lac1-tab" data-bs-toggle="tab" data-bs-target="#bordered-lac1" type="button" role="tab" aria-controls="lac1" aria-selected="true">LAC 1</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="lac2-tab" data-bs-toggle="tab" data-bs-target="#bordered-lac2" type="button" role="tab" aria-controls="lac2" aria-selected="false">LAC 2</button>
                        </li>                        
                    </ul>
                    <div class="tab-content pt-2" id="borderedTabContent">
                        <div class="tab-pane fade show active" id="bordered-lac1" aria-labelledby="lac1-tab">
                            <div class="content">
                                <div class="box-container">
                                    <div class="box">
                                        <h3>ARC01</h3>
                                        <div class="comment">Commente</div>
                                    </div>
                                    <div class="box">
                                        <h3>ARC05</h3>
                                        <div class="comment">Commente</div>
                                    </div>
                                    <div class="box">
                                        <h3>ARC08</h3>
                                        <div class="comment">Commente</div>
                                    </div>
                                    <div class="box">
                                        <h3>LT12</h3>
                                        <div class="comment">Commente</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade p-2" id="bordered-lac2" aria-labelledby="lac2-tab">
                            
                        </div>
                        
                    </div><!-- End Bordered Tabs -->

                </div>
                <div class="tab-pane fade p-2" id="bordered-auto" role="tabpanel" aria-labelledby="auto-tab">
                    @if(Model.MachineStatus != "Disconnected")
                    {
                        <p>Start an automatic control here ... </p>


                        <form asp-controller="Home" asp-action="Run" method="post">
                            <div class="row">
                                <div class="col-md-10">
                                    <input type="text" name="ipAdress" class="form-control" placeholder="Enter the Ip Adress of the machine here ">
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" @* asp-controller="Home" asp-action="Run" *@ class="btn-get-started"> Connect</button>
                                </div>

                            </div>
                        </form>
                    }
                    
                    
                    <div class="row mt-2">                        
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Control</h5>
                                    
                                    <!-- List group With Icons -->
                                    <ul class="list-group">
                                        @foreach (var item in Model.Outputs)
                                        {
                                            <li class="list-group-item">
                                                @if (item.State == true)
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#00ff00" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                                                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5" />
                                                    </svg>
                                                }
                                                else
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ff0000" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                                                        <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5" />
                                                    </svg>
                                                }                                                
                                                @item.DisplayName
                                            </li>
                                        }
                                                                               
                                       
                                    </ul><!-- End List group With Icons -->
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Machine Info</h5>
                                    <p> Statut : <strong> @Model.MachineStatus </strong></p>
                                    @if(Model.MachineStatus == "Connected")
                                    {
                                        <a asp-action="Start" class="btn-get-started"> Start</a>
                                        <a class="btn-get-started" disable> Stop</a>
                                    }
                                    @if (Model.MachineStatus == "Started")
                                    {
                                        <a class="btn-get-started" disable> Start</a>
                                        <a asp-action="Stop" class="btn-get-started"> Stop</a>
                                    }
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="bordered-config" role="tabpanel" aria-labelledby="config-tab">
                </div>
            </div><!-- End Bordered Tabs -->

        </div>
    </div>


</section><!-- End Section -->